:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate_100: hsl(202, 86%, 94%);
  --Slate_300: hsl(203, 41%, 72%);
  --Slate_500: hsl(200, 26%, 54%);
  --Slate_700: hsl(200, 24%, 40%);
  --Slate_900: hsl(202, 55%, 16%);
}
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--Slate_100) !important;
  height: 100vh;
}

.topBanner h1 {
  color: var(--Slate_900);
  font-size: 21px;
  font-weight: 700;
}
.topBanner button {
  text-decoration: underline;
  color: rgb(156, 153, 153);
  background-color: transparent;
}
.calculator {
  display: flex;
  background-color: var(--White);
  width: 900px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.topBanner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}
#basic_Form {
  width: 450px;
  margin: 10px;
}
main label {
  display: block;
  color: gray;
  margin: 10px 0 -5px 0;
}

main input {
  height: 30px;
  border: none;
  border-bottom: var(--Slate_900) solid 1px;
  width: 80%;
  outline: none;
}
main button {
  border: none;
}

#optional .otherIncome {
  display: flex;
  flex-wrap: wrap;
}

#optional input {
  width: 180px;
  margin: 20px 7px;
}

.rand {
  font-size: 15px;
  padding: 0 5x 0 10px;
}

#optional label {
  color: var(--Slate_900);
}
#basic_Form button {
  background-color: var(--Lime);
  font-size: 20px;
  height: 35px;
  width: 65%;
  font-weight: 700;
  border-radius: 15px;
  text-align: center;
  margin-top: 35px;
  margin-left: 65px;
}
/* tabbed Content */
#tabbed-content {
  background-color: var(--Slate_900);
  width: 100%;
  border-bottom-left-radius: 70px;
}
#tabbed-content .panel {
  display: none;
  background-color: var(--Slate_900);
  width: 100%;
  border-bottom-left-radius: 70px;
  height: 390px;
}

#tabbed-content li {
  display: inline-block;
  padding: 10px 14px;
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

#tabbed-content .panel.active {
  display: block;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty p {
  font-size: 16px;
  color: gray;
  text-align: center;
}

.empty h3 {
  color: var(--White);
  font-size: 20px;
}
